html, body {
    width: 100%;
    height: 100%;
    font-family: 'Bree Serif', serif;
}

body {
    background: url(background.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center right;
}

section {
    width: 90%;
    height: 600px;
    margin: 30px auto;
    background-color: rgba(107,115,228,0.3);
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-size: 7vw;
}

h1, h2, input[type=text] {
    color: rgb(4, 68, 119);
}

#change_input {
    text-align: center;
    margin: 20px auto;
}

h2 {
    margin: 50px 0 20px;
    text-align: center;
    color: #E9F8FA;
}

h2, #input_field {
    margin-left: 60px;
    cursor: pointer;
    font-size: 2.5vw;
}

#input_field {
    margin-top: 20px;
}

#user_input:hover {
    box-shadow: inset -2px 2px 2px #9E9E9E,
    inset 2px -2px 2px #9E9E9E;
    border: #fff;
}

#user_input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid black;
}

#user_input, button {
    outline: none;
    margin: 5px;
    padding: 0 10px;
}

#temp {
    margin: 50px 0;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 9vw;
}

#info_content {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}
#info_content {
    visibility: hidden;
}
#info_content.show {
    visibility: visible;
}

.info {
    display: inline-block;
    margin: 70px 0 25px;
    color: #cccccc;
}


.iconImg {
    padding: 0 10px;
    vertical-align: middle;
    width: 60px;
    height: 60px;
}

.infoBox {
    padding: 20px 10px;
    font-size: 2vw;
    background-color: rgba(179,6,179,0.35);
    border-radius: 5px;
    color: rgb(4, 68, 119);
//box-shadow: -5px 5px 5px rgba(80,2,80,0.8), 0px -2px 5px rgba(80,2,80,0.8);
}


button {
    border: none;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color:#3d94f6;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
}
button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
    background-color:#1e62d0;
}

@media (max-width: 523px){
    h2 {
        font-size: 20px;
    }
    #info_content {
        display: inline-block;
        flex-wrap: wrap;
        margin: 0 25%;
    }
    .info {
        margin: 10px;
    }
    .infoBox {
        background-color: rgba(179,6,179,0.5);
    }
    .iconImg {
        margin-top: 20px;
    }

}

